#onlyepic {
    padding: 0%;
    margin-left: -8%;
    margin-right:-20%;
    margin-top: -20%;
    margin-bottom: -20%;
    width: 30%;
    
}

#navbarNavDropdown{
    margin-left: -20%;
}

#register {
    float: right;
}